@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #424242;
  background: #E5E5E5;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
			outline: none;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #424242;
  margin: 0 0 5px;
}

ol > li {
  margin-bottom: 10px;
}

.wrap {
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
    background: #ffffff;
}

.dot {
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #424242;
  border-radius: 50%;
  margin: 0 4px;
}

.column {
  display: flex;
  column-gap: 30px;
}

.info {
  width: 30%;
}

.info__inner {
  padding: 15px;
  margin-top: 70px;
  padding-top: 100px;
  color: #424242;
  position: relative;
  background: #D8ECFF;
}

.info__avatar {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: -70px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  overflow: hidden;
}

.info__prof {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 10px;
}

.info-block {
  margin-bottom: 30px;
}

.info-block:last-child {
  margin-bottom: 0;
}

.info-block__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 10px;
  background: #424242;
  color: #ffffff;
  margin-bottom: 15px;
}

.info__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info__contacts-item {
  letter-spacing: 0.04em;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  margin-bottom: 15px;
}

.info__contacts-link {
  color: #424242;
  text-decoration: none;
}

.info__contacts-link:hover {
  text-decoration: underline;
}

.info__contacts-birthday {
  background-image: url('./images/svg/cake.svg');
}

.info__contacts-phone {
  background-image: url('./images/svg/phone.svg');
}

.info__contacts-email {
  background-image: url('./images/svg/email.svg');
}

.info__contacts-location {
  background-image: url('./images/svg/room.svg');
}

.info__contacts-whatsapp {
  background-image: url('./images/svg/whatsapp.svg');
}

.info__contacts-github {
  background-image: url('./images/svg/github.svg');
}

.info__contacts-codewars {
  background-image: url('./images/svg/codewars.svg');
}

.info-block__stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.info-block__stage-name {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.info-block__stage-dots {
  display: flex;
  align-items: center;
}

.info-block__stage-dot {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  background: rgba(126, 126, 126, 0.8);
  border-radius: 50%;
}

.info-block__stage-dot:last-child {
  margin-right: 0;
}

.info-block__stage-dot--active {
  background: #0074FD;
}

.content {
  width: 70%;
  background: #ffffff;
}

.content p {
  line-height: 22px;
}

.content__block {
  margin-bottom: 25px;
  border-top: 2px solid rgba(66, 66, 66, 0.2);
  padding: 15px 0 10px;
}

.content__block-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 10px;
}

.content__block-title:before,
.content__block-title:after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #424242;
  border-radius: 50%;
  vertical-align: middle;
}

.content__block-title:before {
  margin-right: 10px;
}

.content__block-title:after {
  margin-left: 10px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.project-list__info {
  margin: 15px 0;
}

.project-list__item {
  width: 33%;
  border: 1px solid rgba(66, 66, 66, 0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #424242;
  text-decoration: none;
}

.project-item__picture {
  margin-bottom: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.project-item__name {
  font-weight: bold;
}
